body {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #5d5d5d;
}

a:hover {
	color: #5d5d5d;
}

.form-control:focus {
	box-shadow: none;
	border-color: #7baa45;
}

/* HEADER */
.navbar {
	min-height: 70px;
	border: 0;
	margin-bottom: 0;
}
.navbar-brand {
	height: 70px;
}
.navbar-nav > li > a {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
}
.navbar-nav > li.active > a {
	background: #7baa45;
	border-radius: 5px;
	color: #fff;
}

.navbar-nav > li.active > a:hover {
	background: #628b32;
	color: #fff;
}
@media (min-width: 767px) {
	.navbar-nav > li > a {
		padding-top: 4px;
		padding-bottom: 4px;
		margin-top: 24px;
		margin-bottom: 18px;
	}
}
.nav > li > a:focus, .nav > li > a:hover {
	background: none;
	color: #7dad48;
}
/* HEADER */

/* HOME SECTION 01 */

.section-search {
	background-color: #f1f1f1;
	padding: 60px 0;
}

.section-search h1, p {
	font-weight: 500;
}

.section-search h1 {
	color: #505050;
	margin: 0;
}

.section-search p, a {
	color: #888888;
	font-size: 18px;
}

.section-search p {
	margin: 15px 0 26px;
}

.section-search a {
	text-decoration: underline;
}

.section-search .form-control {
	height: 74px;
	padding-left: 30px;
	font-size: 20px;
}

.section-search .input-group-lg > .input-group-addon {
	font-size: 26px;
	color: #999999;
	background: #fff;
	padding: 10px 28px;
	cursor: pointer;
}
.section-search .input-group-lg > .input-group-addon:hover {
	color: #7baa45;
}
/* HOME SECTION 01 */

/* HOME SECTION 02 */
.section-list {
	padding: 60px 0;
}

.section-list h2 {
	font-size: 24px;
	font-weight: 500;
	color: #505050;
	margin-top: 0;
	margin-bottom: 50px;
}

.section-list ul {
	float: left;
	width: 16.666%;
}

@media (max-width: 767px) {

	.section-list ul {
		float: left;
		width: 100%;
	}

	.section-list ul > li > a {
		display: block !important;
	}

}

.section-list ul > li > a {
	font-size: 14px;
	background-color: #f1f1f1;
	display: inline-block;
	color: #7baa45;
	border-radius: 2px;
	margin-bottom: 6px;
	padding: 2px 8px;
}

.section-list ul > li > a:hover {
	background-color: #7baa45;
	color: #fff;
	text-decoration: none;
}
/* HOME SECTION 02 */

/* HOME SECTION 03 */
.section-media {

}

.section-media h2 {
	font-size: 24px;
	color: #505050;
	font-weight: 500;
	position: relative;
	margin-bottom: 30px;
}

.section-media h2 span {
	background-color: #fff;
	padding: 0 25px;
	display: inline-block;
}

.section-media h2:after {
	content: "";
	clear: both;
	display: block;
	height: 1px;
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -1px;
	background-color: #e5e5e5;
	z-index: -1;
}

.section-media .list-media > a {
	display: inline-block;
	width: 133px;
	height: 100px;
	background-repeat: no-repeat;
	margin-right: 28px;
}

.section-media .list-media > a:last-child {
	margin-right: 0;
}

.section-media .list-media > a:nth-child(1) {
	background: url('../images/list-media.jpg') 0 0;
}

.section-media .list-media > a:nth-child(2) {
	background: url('../images/list-media.jpg') -161px 0;
}

.section-media .list-media > a:nth-child(3) {
	background: url('../images/list-media.jpg') -323px 0;
}

.section-media .list-media > a:nth-child(4) {
	background: url('../images/list-media.jpg') -484px 0;
}

.section-media .list-media > a:nth-child(5) {
	background: url('../images/list-media.jpg') -646px 0;
}

.section-media .list-media > a:nth-child(6) {
	background: url('../images/list-media.jpg') -808px 0;
}
/* HOME SECTION 03 */

/* FOOTER */

footer {
	font-size: 12px;
	margin-top: 40px;
}

footer ul {
	margin-bottom: 0;
}

footer .top {
	background-color: #7baa45;
	color: #fff;
	padding: 45px 0;
}

footer a {
	color: inherit;
	font-size: 12px;
	text-decoration: underline;
}

footer a:hover {
	text-decoration: none;
	color: inherit;
}

footer .bottom {
	color: #a7a7a7;
}

footer .bottom p {
	padding-top: 10px;
}

/* FOOTER */

.background-banner {
	background: url('../images/background-banner.jpg') center center repeat-x;
	text-align: center;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	display: inline-block;
}

.navbar-toggle {
	background-color: #7baa45;
	margin-top: 20px;
}

.navbar-toggle .icon-bar {
	background: #fff;
}